# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log

# VSCode and other IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environments
env/
venv/
ENV/

# HTML tidy and web driver folders
tidy/
web_drivers/

.env